* {
    margin: .3rem;
}

body {
    background-color: rgb(255, 255, 255);
}

body {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
}

.header_pic {
    display: block;
    width: 50%;
    margin: auto;
    border: 2px solid purple;
}

.cute {
    height: 15rem;
    border: 2px solid red;
    display: block;
    margin: auto;
}

h1 {
    color: #E8D955;
    text-align: center;
}

h2 {
    color: purple;
}

button {
    background-color: #e7e7e7;
    font-size: 1rem;
    border-radius: .5rem;
}
